<div class="mt-8 sm:mt-12 sm:pt-12">
<div class="cta-button-section normal-cta-button-section overflow-hidden bg-primary-500 rounded-3xl text-center selection:bg-primary-600">
  <div class="p-8 sm:p-12">
    <h3 class="text-2xl font-bold tracking-tight text-primary-50 sm:text-3xl lg:text-4xl">Join other 3200+ marketers now!</h3>
    <p class="text-base font-medium text-primary-50/70 mt-4">Ready to take the next big step for your business?</p>
    <a
      class="group inline-flex items-center justify-center bg-primary-900 text-base font-semibold text-primary-50 mt-4 rounded-cta-button-radius px-5 py-3 hover:bg-primary-800 focus:outline-none focus:ring-2 focus:ring-primary-900 focus:ring-offset-2 focus:ring-offset-primary-500"
      data-umami-event="Clicked Link: #newsletter-in-footer-wrapper"
      data-umami-href="#newsletter-in-footer-wrapper"
      href="/world-of-color#newsletter-in-footer-wrapper"
    >
      Subscribe
    </a>
  </div>
</div>
</div>
