<section class="bg-white border-t border-secondary-200 py-12 sm:py-16 lg:py-20">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<div class="max-w-2xl mx-auto text-center">
			<h2 class="text-2xl font-bold text-secondary-900">Related posts</h2>
		</div>
		<div class="grid max-w-md grid-cols-1 gap-x-8 gap-y-12 mx-auto mt-12 lg:max-w-none lg:grid-cols-3">
			<%# FIXME: This is a temporary fix for the related articles %>
			<%# @related_articles.each do |article| %>
				<%#= render "layouts/normal/show/related_article", article: article %>
			<%# end %>
		</div>
	</div>
</section>
