<section class="hero-section bg-secondary-50 py-12 sm:py-16 lg:py-20">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto text-center">
      <h1 class="whitespace-pre-wrap text-3xl font-bold tracking-tight text-secondary-900 mt-3 sm:text-4xl lg:text-5xl">
        Insight and advice from our expert team
      </h1>
      <h2 class="whitespace-pre-wrap text-base font-medium text-secondary-500 mt-6 sm:text-lg lg:text-xl">
        Find out how the best marketing automation tips and tricks work.
      </h2>
    </div>
  </div>
</section>
