
<div class="categories-sidebar lg:sticky lg:col-span-3 lg:top-28">
<p class="hidden text-xs font-bold uppercase tracking-widest text-secondary-500 lg:block">Tags</p>
<form method="get" action="/?page=1">
  <input type="hidden" name="page" value="1" />
  <nav class="max-h-[50vh] overflow-y-auto mt-5 space-y-1 hidden lg:block" aria-label="Sidebar">
    <button type="submit" name="tag" value="all-tags" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 bg-secondary-100 text-secondary-900" aria-current="page">
      <span class="truncate">All Tags</span><span class="inline-block bg-white text-xs ml-auto rounded-full py-0.5 px-3">8</span>
    </button>
    <button type="submit" name="tag" value="sms" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
      <span class="truncate">SMS</span>
    </button>
    <button type="submit" name="tag" value="marketing" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
      <span class="truncate">Marketing</span>
    </button>
    <button type="submit" name="tag" value="ecommerce" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
      <span class="truncate">eCommerce</span>
    </button>
    <button type="submit" name="tag" value="case-marketing" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
      <span class="truncate">Case Marketing</span>
    </button>
    <button type="submit" name="tag" value="best-practices" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
      <span class="truncate">Best Practices</span>
    </button>
    <button type="submit" name="tag" value="email-marketing" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
      <span class="truncate">Email Marketing</span>
    </button>
    <button type="submit" name="tag" value="growth" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
      <span class="truncate">Growth</span>
    </button>
    <button type="submit" name="tag" value="design" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
      <span class="truncate">Design</span>
    </button>
  </nav>
</form>
<details class="menu-details lg:hidden">
  <summary
    class="flex w-full cursor-pointer items-center justify-between text-base font-semibold text-secondary-900 -m-2 rounded-lg p-2 hover:bg-secondary-100 hover:text-secondary-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-secondary-900"
    >
    <span class="sr-only">
      Open
      <!-- -->tag<!-- -->
      filters
    </span>
    View Tags
    <span aria-hidden="true" class="collapsed-icon">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </span>
    <span aria-hidden="true" class="expanded-icon">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
        <polyline points="18 15 12 9 6 15"></polyline>
      </svg>
    </span>
  </summary>
  <div>
    <form method="get" action="/?page=1">
      <input type="hidden" name="page" value="1" />
      <nav class="max-h-[50vh] overflow-y-auto mt-5 space-y-1" aria-label="Sidebar">
        <button type="submit" name="tag" value="all-tags" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 bg-secondary-100 text-secondary-900" aria-current="page">
          <span class="truncate">All Tags</span><span class="inline-block bg-white text-xs ml-auto rounded-full py-0.5 px-3">8</span>
        </button>
        <button type="submit" name="tag" value="sms" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
          <span class="truncate">SMS</span>
        </button>
        <button type="submit"
          name="tag" value="marketing" class="group 	flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
          <span class="truncate">Marketing</span>
        </button>
        <button type="submit"
          name="tag" value="ecommerce" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
          <span class="truncate">eCommerce</span>
        </button>
        <button type="submit"
          name="tag" value="case-marketing" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
          <span class="truncate">Case Marketing</span>
        </button>
        <button type="submit"
          name="tag" value="best-practices" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
          <span class="truncate">Best Practices</span>
        </button>
        <button type="submit"
          name="tag" value="email-marketing" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
          <span class="truncate">Email Marketing</span>
        </button>
        <button type="submit"
          name="tag" value="growth" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
          <span class="truncate">Growth</span>
        </button>
        <button type="submit"
          name="tag" value="design" class="group flex w-full items-center text-sm font-medium rounded-lg px-3 py-2 text-secondary-500 hover:bg-secondary-100 hover:text-secondary-900">
          <span class="truncate">Design</span>
        </button>
      </nav>
    </form>
  </div>
</details>
</div>
